body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
}
@font-face {
  font-family: "iconfont"; /* Project id 1100843 */
  src: url("https://at.alicdn.com/t/font_1100843_ujouoy7plwn.woff2?t=1633770941701")
      format("woff2"),
    url("https://at.alicdn.com/t/font_1100843_ujouoy7plwn.woff?t=1633770941701")
      format("woff"),
    url("https://at.alicdn.com/t/font_1100843_ujouoy7plwn.ttf?t=1633770941701")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
.panding0 {
  padding: 0 !important;
}

img {
  display: block;
  width: 100%;
}

.block {
  flex: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  background-color: #ed4700;
}

.block .title {
  width: 4vw;
  padding-bottom: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
}
.block .title2 {
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block .title .icon {
  width: 15px;
  margin-bottom: 10px;
}

.block .title p {
  writing-mode: vertical-lr;
  letter-spacing: 5px;
  padding-bottom: 10px;
  font-size: 16px;
}
.block .title span {
  writing-mode: vertical-lr;
  font-size: 12px;
}

.block:nth-child(2n) {
  background-color: #003366;
}

.block .content {
  height: 100vh;
  width: 0px;
  overflow: hidden;
}
.block .content .in {
  overflow-y: scroll;
  padding: 20px;
  height: calc(100vh - 40px);
}
.block .content .in::-webkit-scrollbar {
  display: none;
}
.menu {
  background-color: #333;
}
.menu .title {
  justify-content: flex-start !important;
}
.menu .title2 {
  height: auto !important;
}
.menu .icon {
  width: 30px !important;
  padding: 5vh 0 0 0;
}
.menu .line {
  width: 1px;
  height: 5vh;
  border-left: 1px solid #fff;
  margin: 2vh auto;
}
.menu .beian {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* 公司简介 */
.about_page1 {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_page {
  padding: 10vh 0;
  text-align: center;
}
/* 活动场地 */
.venue_page1 {
  padding-top: 50vh;
  width: 80%;
  margin: 0 auto 80px auto;
  position: relative;
}
.venue_page1 > div {
  position: absolute;
}
.venue_page1 .top_left {
  left: 20px;
  width: 40%;
  top: 16vh;
}
.venue_page1 .top_left h3 {
  font-weight: 200;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.venue_page1 .top_left p {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 25px;
}
.venue_page1 .line {
  width: 50px;
  height: 3px;
  background-color: #fff;
}
.venue_page1 .top_right {
  right: 20px;
  top: 16vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.venue_page1 .top_right p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 20px;
}
.venue_page1 .top_right .kuai {
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  font-size: 1.2rem;
  background-color: #003366;
}
.venue_page1 .kuai2 {
  background-color: #ed4700 !important;
}
.venue_page1 .title {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 200;
  position: relative;
}
.venue_page1 .title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(135deg);
}
.venue_page {
  width: 80%;
  margin: 0 auto;
}
.venue_page .diamond {
  margin-bottom: 40px;
}
.venue_page .diamond:last-child {
  margin-bottom: 0;
}
.venue_page h3 {
  background-color: #ed4700;
  padding: 15px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
.venue_page h3 b {
  font-weight: normal;
  margin-right: 5vw;
}
.venue_page h3 b::before {
  content: "+";
  padding-right: 10px;
}
.venue_page h3 span::before {
  content: "--";
  padding-right: 10px;
}
.venue_page .diamond_blue h3 {
  background-color: #003366 !important;
}
.venue_page ul {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.venue_page ul li {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.venue_page .venue_title {
  background-color: #003366;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 20px;
}
.public .venue_title {
  background-color: #ed4700 !important;
}
.kehu_title {
  display: flex;
  width: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.kehu_title h3 {
  width: 150px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #fff;
  font-size: 1.3rem;
  padding: 10px 0;
  margin-bottom: 10px;
}

.kehu_list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
.kehu_list li {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  box-sizing: border-box;
}
.kehu_list img {
  max-height: 60px;
  width: auto;
  max-width: 100%;
}
.about_contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_contact div {
  padding: 0 15px;
}
.about_contact div:last-child {
  color: #ed4700;
}
.about_contact p {
  padding-bottom: 6px;
}
.about_contact p:last-child {
  padding-bottom: 0;
}
.about_contact img {
  max-height: 60px;
  width: auto;
}
